@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}

body {
    color: #ffff;
    background: linear-gradient(0.5turn, #030303, #2c2c2c);
    padding: 0;
    margin: 0;
    font-family: roboto, arial, serif;
}

header img{
    display: flex;
    width: 100%;
}
header h1 {
    background: linear-gradient(0.25turn, #030303, #9e0b0b, #505050);
    margin-top: 0;
    border: black 20px ;
    font-size: 2.5em;
    text-align: center;
    text-shadow: 3px 3px  3px  black;
}

button{
    background-color: #9e0b0b;
    color: white;
    font-size: 2.5em;
    margin-top: 5em;
    margin-bottom: 3em;
    border-radius: 1em;
    padding: .5em;
    transition: .3s
}

button:hover{
    cursor: pointer;
    size-adjust: 1.5;
    transform: scale(1.1);
}
#frase{
    font-size: 1.5em;
}
#imagem01{
    width: 17%;
}
.container {
    display:flex;
    justify-content: center;    
}

footer {
    background-color: rgba(180, 37, 37, 0.938);
    padding: 4em;
    margin-top: 0em;
    text-align: center;
    font-size: 1.3em;       
}

footer a {
    text-decoration: none;
    color: #ffff;
}



/* animação da imagem */

[data-anime]{
    opacity: 0;
    transition: .7s;
  }
  [data-anime="up"]{
    transform: translate3d(0, 100%, 0);
  }
  [data-anime].animate{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

/* animação da frase */
  [data-frase]{
      opacity: 0;
      transition: 0.7s ease-in-out;
  }
  [data-frase].animate{
      opacity: 1;
  }

/* animação do button */

    [data-btn]{
        opacity: 0;
        transition: 0.2s;
    }
    [data-btn].animate{
        opacity: 1;
    }